<!DOCTYPE html>
<html>
  <head>
    <title>Geojob</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #left-panel { float: left; width: 30%; height: 100%; box-sizing: border-box; padding: 10px }
      #map-canvas { float: left; width: 70%; height: 100% }
      #results a { display: block; clear: both; font-size: 95%; margin-bottom: 10px; }
      #results a img { width: 100px; float: left; margin-right: 10px }
      #results a .city, #results a .date, #results a .type { font-size: 75%; }
    </style>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?region=FR<% if @api_key %>&key=<%= @api_key %><% end %>"></script>
    <script type="text/javascript">
      var center = "France";
      var offer_groups = <%= JSON.generate(@offers) %>;
    </script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <div id="left-panel">
      <div id="results"></div>
    </div>
    <div id="map-canvas"/>
  </body>
</html>
